*{
    padding: 0;
    margin: 0;
}
.nitin-resume{
width: 80%;
margin: 0 auto;

}
.left-side{
    width: 30%;
    float: left;
    background-color: #000;
    color: #fff;
}

.profile-photo{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 70px auto;
}
.profile-photo img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 0 auto;
    border: 5px solid #333;
}
.contact{
    margin-left: 40px;
}
.contact h1{
    text-decoration: underline;
    padding-bottom: 10px;
}
.contact p{
    line-height: 20px;
}
.skill{
    margin-left: 40px;
}
.skill h1{
    margin-top: 15px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.skill h2{
    font-size: 18px;
    border-bottom: 7px dotted rgb(255,255,255);
    margin-right: 76px;
    padding-bottom: 3px;
    margin-bottom: 8px;
    margin-top: 10px;
}
.skill ul{
    list-style-position: inside;

}
.skill ul li{}
.hobbies{
    margin-left: 40px;
}
.hobbies h1{
    text-decoration: underline;
}
.hobbies ul{
    list-style-position: inside;
}
.hobbies ul li{}
.right-side{
    width: 70%;
    float: left;
}
.about-candidate{
    background-color: aquamarine;
    height: 340px;
    width: 100%;
    padding-left: 40px;
}
.about-candidate h1{
    padding-top: 60px;
    font-size: 52px;

}
.about-candidate h2{
    border-bottom: 5px solid #000;
    width: 294px;
    padding-bottom: 8px;
    margin-bottom: 13px;
}
.about-candidate p{
    text-align: justify;
    margin-right: 50px;
    line-height: 20px;
}
.about-candidate-bottom{
    padding-left: 40px;
}
.Education{

}
.Education h1{
    border-bottom: 4px solid#000;
    margin-right: 15px;
    padding-top: 18px;
}
.education-part{
    height: 56px;
}

.education-part h2{}
.left-education{
    width: 50%;
    float: left;
}
.left-education p{}
.right-education{
    width: 50%;
    float: left;
}
.right-education p{}
.education-part{}
.education-part h2{}
.left-education{}
.left-education p{}
.right-education{}
.right-education p{}
.project{
    margin: 35px;
}
.project h1{}
.project p{
    text-align: justify;
    margin-right: 40px;
    margin-top: 10px;
    line-height: 21px;
}
.certification{
    padding-bottom: 30px;
    margin-left: 35px;
}
.certification h1{}
.certification h2{
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 3px;
}